{% load static%}
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">
        <div class="widget">
            <h2 class="widget-title">Follow Us</h2>

            <div class="row text-center">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="#" class="social-button facebook-button">
                        <i class="fa fa-facebook"></i>
                        <p>27k</p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="#" class="social-button twitter-button">
                        <i class="fa fa-twitter"></i>
                        <p>98k</p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="#" class="social-button google-button">
                        <i class="fa fa-linkedin"></i>
                        <p>17k</p>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="#" class="social-button youtube-button">
                        <i class="fa fa-youtube"></i>
                        <p>22k</p>
                    </a>
                </div>
            </div>
        </div><!-- end widget -->
        
        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href = "{{v_rect.link}}" target="_blank"><img src="{{v_rect.image.url}}" alt="" class="img-fluid"></a>
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Popular Articles</h2>
            <div class="trend-videos">

                {% for article in top_articles %}
                    <div class="blog-box">
                        <div class="post-media sidebar-1">
                            <a href="tech-single.html" title="">
                                <img src="{{ article.image.url }}" alt="" class="img-fluid">
                                <div class="hovereffect">
                                    <span class="videohover"></span>
                                </div><!-- end hover -->
                            </a>
                        </div><!-- end media -->
                        <div class="blog-meta">
                            <h4><a href="tech-single.html" title="">{{article.title}}</a></h4>
                        </div><!-- end meta -->
                    </div><!-- end blog-box -->

                    <hr class="invis">
                {% endfor %}

            </div><!-- end videos -->
            
        </div><!-- end widget -->

        <div class="widget">
            <h2 class="widget-title">Trending</h2>
            <div class="blog-list-widget">
                <div class="list-group">
                    {% for article in popular_articles %}
                        <a href="{%url 'article-detail' article.id%}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="w-100 justify-content-between popular-articles">
                                <img src="{{ article.image.url }}" alt="" class="img-fluid float-left">
                                <h5 class="mb-1">{{article.title}}</h5>
                                <small>{{article.created_at}}</small>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div><!-- end blog-list -->
        </div><!-- end widget -->

        <!--I ADDED EXTRA-->
        <div class="widget">
            <h2 class="widget-title"><a href = "/videos">Videos</a></h2>
            <div class="trend-videos">

                {% for video in sidebar_videos %}
                    <div class="blog-box">
                        <div class="post-media sidebar-1">

                            <div id="player"></div>

                            <iframe id=
                                "ytplayer"
                                width="300" height="150"
                                src="https://www.youtube.com/embed/{{video.snippet.resourceId.videoId}}?enablejsapi=1"
                                frameborder="0" allow="fullscreen"
                            ></iframe>


                        </div><!-- end media -->
                        <div class="blog-meta">
                            <h4><a href="https://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}" title="">{{ video.snippet.title }}</a></h4>
                        </div><!-- end meta -->
                    </div><!-- end blog-box -->

                    <hr class="invis">
                {% endfor %}

                <script src="https://www.youtube.com/iframe_api"></script>

            </div><!-- end videos -->
        </div><!-- end widget -->
        <!--END ADDED EXTRA-->

        <div class="widget">
            <div class="banner-spot clearfix">
                <div class="banner-img">
                    <a href = "{{square.link}}" target="_blank"><img src="{{ square.image.url }}" alt= "{{ square.alt }}"" class="img-fluid"></a>
                </div><!-- end banner-img -->
            </div><!-- end banner -->
        </div><!-- end widget -->
        
    </div><!-- end sidebar -->
</div><!-- end col -->